body{
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: rgb(1, 1, 56);
}

h1{
    padding: 10px;
}

nav{
    background-color: blue;
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
    padding: 10px 0;
    box-sizing: border-box;
    margin-bottom: 20px;
}

nav a{
    color: whitesmoke;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

article{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

footer{
    color: white;
    background-color: black;
    width: 100%;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 30px;
}