html, body{
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container{
    width: 450px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    color: black;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea{
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 14px;
}

input, textarea:hover{
    color: black;
}

button{
    background-color: #007bff;
    border: none;
    color: white;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
}

button:hover{
    background-color: navy;
    color: wheat;
}