/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 1024px;
    margin: 20px auto;
}

.container header{
    width: 100%;
    height: 100px;
    text-align: center;
    padding-bottom: 10px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 5px;
}
p {
    color: gray;
    margin-bottom: 10px;
}
/* Product Grid for Desktop */
.parent {
    padding: 5px;
    box-sizing: border-box;
    display: grid;
    gap: 20px 20px;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
}
.child {
    background-color: white;
    border: rgb(221, 220, 220) 1px solid;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    width: 280px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.1s ease-in-out;
}
.child:hover {
    transform: translateY(-5px);
}
.child img {
    width: 90%;
    margin: 5%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.child h2 {
    margin: 10px 0;
}
.child p {
    font-size: 14px;
    color: #555;
}
.child h3 {
    margin: 10px 0;
}

.container footer{
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}
/* Responsive Design for Mobile */
@media (max-width: 768px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
        justify-content: center;
    }

    .child {
        width: 90%;
        margin: 5%;
    }
}